body {
    display: block;
    margin: 10px;
    background: radial-gradient(rgb(191, 250, 247), rgb(167, 227, 255)) no-repeat;
    background-attachment: fixed;
}

main {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px auto;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indicator {
    padding: 35px 0;
    width: 450px;
    height: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.point-flooded {
    background-color: rgb(48, 45, 214);
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.line {
    background-color: cornflowerblue;
    height: 3px;
    width: 95px;
}

.point {
    background-color: cornflowerblue;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.line-flooder {
    background-color: rgb(48, 45, 214);
    height: 3px;
    width: 95px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 320px;
    background: radial-gradient(rgba(191, 250, 247, 0.671), rgba(167, 227, 255, 0.712)) no-repeat;
    box-shadow: 0 8px 8px 8px rgba(54, 54, 54, 0.089);
    border-radius: 15px;
}

input {
    height: 45px;
    width: 210px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: none;
}